:root {
    --brand-primary: #3D155F;
    --brand-secondary: #3D155F;

    --secondary-yellow: #FCBF1E;
    --secondary-blue: #40BAD5;

    --primary-gray: #A7B4CC;
    --secondary-gray: #F4F4F4;

    --white: #ffffff;
    --black: #000000;

    --font-color-primary: #3C4257;
}