.campaign {
  display: flex;
  border-radius: 10px;
  border: solid 1px var(--secondary-gray);
  margin-top: 35px;
  max-width: 1300px;
  position: relative;

  &__image {
    width: 220px;

    margin: 28px;
  }
  &__content {
    width: 100%;
    margin: 35px 0;
    & h3 {
      display: inline-block;
      margin: 20px 0;
    }
  }

  &__data {
    width: 80%;
    max-width: 700px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
  }
  &__chunk {
    margin-right: 50px;
    align-self: stretch;
    &__label {
      font-size: 12px;
      margin-bottom: 5px;
      color: var(--primary-gray);
    }
    &__data {
      font-size: 13px;
    }
  }
  &__icons {
    position: absolute;
    top: 20px;
    right: 40px;
    & svg {
      width: 18px;
      margin-left: 32px;
    }
  }
  &__btn {
    position: absolute;
    right: 40px;
    bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    color: var(--brand-secondary);
    border: 1px solid var(--brand-secondary);
    padding: 10px 18px 10px 13px;
    border-radius: 5px;
    background-color: transparent;
    & svg {
      margin-right: 10px;
    }
  }
}
