.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #543172;
  &__wrapper-logo {
    width: 70px;
    height: 70px;
    margin: 35px 0 0 35px;
    background-color: #6c4e86;
    border-radius: 10px;
  }
  &__logo {
    width: 40px;
    margin: 17px 16px 13px 14px;
  }
}
