.topbar {
  display: flex;
  position: sticky;
  background-color: #fff;
  z-index: 10;
  height: 80px;
  border-bottom: 1px solid #f8f8f8;
  margin-left: 250px;
  padding: 0 5%;
  top: 0;

  align-items: center;

  &__workspaces {
    display: flex;
    flex-direction: column;

    &-main {
      font-size: var(--font-size-primary);
    }

    &-secondary {
      font-size: var(--font-size-h2);
    }
  }

  &__search {
    width: 350px;
    height: 44px;
    background-color: #f8f8f8;
    border: 1px solid #e4e7ed;
    border-radius: 5px;
    background: url("../../../assets/images/search-icon.svg") no-repeat 5% center;
    text-indent: 50px;
    margin-left: auto;
  }

  &__notification {
    width: 44px;
    height: 44px;
    border: 1px solid #e4e7ed;
    border-radius: 5px;
    margin-left: 15px;

    & img {
      width: 24px;
      margin: 8px;
    }
  }

  & .dropdown-toggle::after {
    display: none;
  }

  &__profile-btn {
    & button {
      background-color: #fff !important;
      height: 44px;
      color: black;
      border: none;

      &:hover {
        background-color: #f1dce5 !important;
        color: var(--brand-secondary);
      }
    }

    margin-left: 15px;
    border: 1px solid #e4e7ed;
    border-radius: 5px;

    & img {
      height: 30px;
      margin-right: 10px;
    }
  }
}